@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body{
    height: 100%;
    overflow: hidden;
}

body{
    background-image: url(../logo/background.png);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container{
    margin: 0 auto;
    max-width: 1080px;
    position: relative;
}


/*** Navbar ***/
header{
    width: 100%;
    height: 45px;
    background-color: #181c22;
    background-attachment: fixed;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.678);
}

header .tigerLogo{
    width: 75px;
    top: 13px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

header .navbar {
    top: 0;
    right: 17px;
    position: absolute;
}

header .navbar ul{
    display: inline-block;
    list-style-type: none;
}

header .navbar a{ color: rgb(78, 78, 78); }
header .navbar a:hover{ color: rgb(129, 129, 129);}

header .navbar li{
    float: left;
    font-weight: bold;
    font-size: 15px;
    padding: 0 15px;
    line-height: 45px;
    font-family: 'Roboto', sans-serif;
}

a#contaOuLog{
    cursor: pointer;
}

li.atualPage{
    height: 45px;
    color: rgb(146 146 146) !important;
    background-color: rgb(38, 43, 53);
}

header .navbar li img{
    width: 25px;
    top: 4px;
    left: 0px;
    position: relative;
}

section{
    height: 100vh;
}

.info{
    width: 720px;
    height: 500px;
    position: relative;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}

.info h2{
    color: rgba(255, 255, 255, 0.562);
    font-size: 2.4em;
    text-align: center;
}

.button-inter{
    width: 500px;

  display: flex;
  justify-content: center;

  position: relative;
    top: calc(50% - 100px);
    left: 50%;
  margin: 0;
  padding: 12px 0;

  
  font-size: 21px;
  line-height: 28px;
  font-weight: bold;

  color: #f6f6f688;
  border: 1px solid rgb(226, 43, 43);

  text-decoration: none;
  cursor: pointer;

  transition: .25s;
  transform: translate(-50%, -50%);
}

.item9{
  position: relative;
  overflow: hidden;

  transition: .1s;
}

.item9:hover{
  color: #eee;
  background: #e22b2b;
  box-shadow: 0 0 10px #e22b2b, 0 0 15px #e22b2b, 0 0 30px #ec0b0b;  

  transition-delay: 1s;
}

.item9 span{
  position: absolute;
  display: block;
}

.item9 span:nth-child(1){
  width: 100%;
  height: 2px;

  top: 0;
  left: -100%;

  background: linear-gradient(88.89deg, transparent, #e22b2b);
}

.item9:hover span:nth-child(1){
  left: 100%;
  transition: 0.5s;
}

.item9 span:nth-child(2){
  width: 2px;
  height: 100%;

  right: 0;
  top: -100%;

  background: linear-gradient(181.44deg, transparent, #e22b2b);
}

.item9:hover span:nth-child(2){
  top: 100%;
  transition: 0.5s;
  transition-delay: .25s;
}

.item9 span:nth-child(3){
  width: 100%;
  height: 2px;

  bottom: 0;
  right: -100%;

  background: linear-gradient(269.44deg, transparent, #e22b2b);
}

.item9:hover span:nth-child(3){
  right: 100%;
  transition: 0.5s;
  transition-delay: .5s;
}

.item9 span:nth-child(4){
  width: 2px;
  height: 100%;

  left: 0;
  bottom: -100%;

  background: linear-gradient(359.88deg, transparent, #e22b2b);
}

.item9:hover span:nth-child(4){
  bottom: 100%;
  transition: 0.5s;
  transition-delay: .70s;
}

