@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body{
    height: 100%;
    overflow-x: hidden;
}

body{
    background-image: url(../logo/background.png);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container{
    margin: 0 auto;
    max-width: 1080px;
    position: relative;
}


/*** Navbar ***/
header{
    width: 100%;
    height: 45px;
    background-color: #181c22;
    background-attachment: fixed;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.678);
}

header .tigerLogo{
    width: 75px;
    top: 13px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

header .navbar {
    top: 0;
    right: 17px;
    position: absolute;
}

header .navbar ul{
    display: inline-block;
    list-style-type: none;
}

header .navbar a{ color: rgb(78, 78, 78); }
header .navbar a:hover{ color: rgb(129, 129, 129);}

header .navbar li{
    float: left;
    font-weight: bold;
    font-size: 15px;
    padding: 0 15px;
    line-height: 45px;
    font-family: 'Roboto', sans-serif;
}

a#contaOuLog{
    cursor: pointer;
}

li.atualPage{
    height: 45px;
    color: rgb(146 146 146) !important;
    background-color: rgb(38, 43, 53);
}

header .navbar li img{
    width: 25px;
    top: 4px;
    left: 0px;
    position: relative;
}


/* Log-in - Cadastro */
section{
    position: relative;
    top: 50%;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    transform: translateY(calc(-50% - 15px));
}

.wrapper{
    display: flex;
    width: 750px;
    height: 450px;
    transition: 1s all ease;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.493);
}

.right{
    position: relative;
    float: right;
    width: 50%;
    height: 100%;
    background-image: url(../logo/background2.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
}

.left{
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    background-color: #181c22;
    background-image: url(../logo/background.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper h2{
    color: white;
    margin: 20px 20px;
    opacity: 0.6;
    font-size: 1.8em;
    cursor: context-menu;
    text-transform: uppercase;
}

.cad-wrapper{ padding: 25px 30px; }

/* formulário do Log e Cad */
.label-float{
    position: relative;
    top: -40px;
    padding-top: 18px;
    margin-top: 30px;
}

.label-float label{
    position: absolute;
    top: 0px;
    left: 0;
    margin-top: 13px;

    color: white;
    opacity: 0.8;
    cursor: context-menu;
    font-size: 1em;
    font-family: 'Roboto mono';
    transition: 0.3s ease-out;
}

.label-float input{
    display: block;
    width: 80%;
    color: rgb(150, 150, 150);
    font-family: 'Roboto mono';
    margin-bottom: 8px;
    
    outline: none;
    border: none;
    border-bottom: 2px dashed #636363;
    background: transparent;
}

.label-float input:focus{
    border-bottom: 2px dashed #9e9e9e;
}

.label-float input:focus + label,
.label-float input:valid + label{
    margin-top: 0;
    color: #ffffffa2;
    font-size: 13px;
}

.fa-solid{
    font-size: 13px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.363);
    position: absolute;
    top: 16px;
    right: 22%;
}


.btn{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    width: 300px;
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.562);
    cursor: pointer;
    border: 0;
    background-color: #181c22;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.795);
    outline: none;
}

.btn-login{
    background-color: #933f2775;
    background-color: #fd47149e;
}
.btn-login:hover{ 
    background-color: #c5563875;
    background-color: #ff3700d3;
}


.btn-cadastro:hover{ background-color: #242931; transition: 0.1s;}

.alertBox{
    display: none;

    color: greenyellow;
    line-height: 30px;
    text-align: center;
    position: absolute;
    top: 55px;
    left: 25px;
    width: auto;
    height: 30px;
    padding: 0 20px;
    background-color: rgb(93, 139, 23);
}





@media screen and (max-width: 790px){

    section{
        position: initial;
        padding-top: 40px;
        transform: translateY(0);
        width: 100%;
        height: auto;
    }

    .wrapper{
        width: 80%;
        height: 820px;
        margin-top: 100px;
        transition: 0.4s all ease-in-out;
        flex-direction: column-reverse;
    }

    .right{
        width: 100%;
        height: 50%;
    }
    
    .left{
        width: 100%;
        height: calc(50% + 100px);
    }
    
    .cad-wrapper{ padding: 25px 30px; }
    
    .cad-wrapper span{
        font-size: 0.8em;
        padding-bottom: 8px;
    }
    
    .cad-wrapper input{
        margin-bottom: 40px;
    }

    .btn{
        width: 90%;
        position: relative;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
    }

    .alertBox{
        padding: 0 20px;
    }

    .fa-solid{
        right: 21%;
    }
}

@media screen and (max-width: 378px){
    .btn-cadastro{
        position: relative;
        top: -43px;
    }
}